{% extends "layout.html" %}

{% block content %}

    <div>
        <br>
        <div class="well">
            <h3><strong> Bank client data Analysis and Categorical Treatment</strong></h3>
            <br />
            <ul>
                <li>Work with the atributes related to bank clients</li>
                <li>To make things more clear, we are going to edit datasets</li>
            </ul>
            <br />
            <p>
                <h4><strong> Categorical variables:</strong></h4>
                <div style="overflow-x:auto;">
                    {% for table in tables %}
                    <div style="font-size: 12px; ">
                        {{ table|safe }}
                    </div>
                    {% endfor %}
                </div>
                <br />
                <h5>jobs: {{unique[0]}}</h5>
                <br />
                <h5>marital: {{unique[1]}}</h5>
                <br />
                <h5>education: {{unique[2]}}</h5>
                <br />
                <h5>default: {{unique[3]}}</h5>
                <br />
                <h5>housing: {{unique[4]}}</h5>
                <br />
                <h5>loan: {{unique[5]}}</h5>
                <br />
                <br />
                <h4><strong> Age: </strong></h4>
                <br />
                <h5>Minimum: {{age[0]}}</h5>
                <br />
                <h5>Maximum: {{age[1]}}</h5>
                <br />
                <h5>Standard derivation: {{age[2]}}</h5>
                <br />
                <h5>Mean: {{age[3]}}</h5>
                <br />
                <br />
                <div>
                    <img src="/plot_age1.png" style="width: 100%" class="img-rounded" />
                    <hr />
                    <img src="/plot_age2.png" style="width: 100%" class="img-rounded" />
                </div>
                <br />
                <br />
                <h5>Quartile 1: {{quart[0]}}</h5>
                <br />
                <h5>Quartile 2: {{quart[1]}}</h5>
                <br />
                <h5>Quartile 3: {{quart[2]}}</h5>
                <br />
                <h5>Quartile 4: {{quart[3]}}</h5>
                <br />
                <h5>Ages above: {{quart[4]}} are outliers</h5>
                <br />
                <br />
                <h4><strong> Jobs: </strong></h4>
                <br />
                <div>
                    <img src="/plot_jobs.png" style="width: 100%" class="img-rounded" />
                </div>
                <br />
                <br />
                <h4><strong> Marital: </strong></h4>
                <br />
                <div>
                    <img src="/plot_marital.png" style="width: 100%" class="img-rounded" />
                </div>
                <br />
                <br />
                <h4><strong> Education: </strong></h4>
                <br />
                <div>
                    <img src="/plot_education.png" style="width: 100%" class="img-rounded" />
                </div>
                <br />
                <br />
                <h4><strong> Default, Housing and Loan: </strong></h4>
                <br />
                <div>
                    <img src="/plot_DHL.png" style="width: 100%" class="img-rounded" />
                </div>

                <h4><strong> Related with the last contact of the current campaign: </strong></h4>
                <ul>
                    <li>Duration is continuous variable and we use this in Analysis</li>
                    <li>Contact, month and day of week are categorical variables</li>
                </ul>
                <br />
                <br />
                <div style="overflow-x:auto;">
                    {% for table in table_related %}
                    <div style="font-size: 12px; ">
                        {{ table|safe }}
                    </div>
                    {% endfor %}
                </div>
                <br />
                <br />
                <h5>Kind of Contact: {{unique_related[0]}}</h5>
                <br />
                <h5>Which monthis this campaing work: {{unique_related[1]}}</h5>
                <br />
                <h5>Which days of week this campaing work: {{unique_related[2]}}</h5>
                <br />
                <br />
                <h4><strong> Duration: </strong></h4>
                <br />
                <div>
                    <img src="/plot_duration.png" style="width: 100%" class="img-rounded" />
                </div>
                <br />
                <h5>Min duration  call in minutes: {{duration_call[0]}}</h5>
                <br />
                <h5>Max duration  call in minutes: {{duration_call[1]}}</h5>
                <br />
                <h5>STD duration  call in minutes: {{duration_call[2]}}</h5>
                <br />
                <h5>Mean duration  call in minutes: {{duration_call[3]}}</h5>
                <br />
                <br />
                <h5>Quartile 1: {{quart_duration[0]}}</h5>
                <br />
                <h5>Quartile 2: {{quart_duration[1]}}</h5>
                <br />
                <h5>Quartile 3: {{quart_duration[2]}}</h5>
                <br />
                <h5>Quartile 4: {{quart_duration[3]}}</h5>
                <br />
                <h5>Ages above: {{quart_duration[4]}} are outliers</h5>
                <br />
                <br />
                <h4><strong> Contact, Month, Day of week: </strong></h4>
                <br />
                <div>
                    <img src="/plot_con_day_month.png" style="width: 100%" class="img-rounded" />
                </div>
                <br />
                <h4><strong> Other Attributes: </strong></h4>
                <div style="overflow-x:auto;">
                    {% for table in others %}
                    <div style="font-size: 12px; ">
                        {{ table|safe }}
                    </div>
                    {% endfor %}
                </div>
            </p>
        </div>
    </div>


{% endblock %}
